/* variables inicio */

$bgc1:rgb(24, 22, 22);
$bgc2:#222222;
$bgc3:#b70e21;
$bgc4:#d63031;
$bgc5:rgb(80,70,70);
$bgc6: black;
$bgc7:rgb(0,103,123,0.6);

$color1:white;
$color2:black;
$color3:orangered;
$color4:red;
$color5:gray;
$color6:rgb(190, 137, 137);

$ff1:sans-serif;
$ff2:x;
$ff3:x;
$ff4:x;

$degradado1:linear-gradient(to bottom, rgb(24,22,22), rgb(65,60,60));
$degradado2:linear-gradient(to bottom, black, rgb(69,60,60));

/* variables fin */

/* header/footer  inicio*/

header{

    img{
        height: 100px;
    }

    .nav-link{
        font-size: 20px;
        margin: 10px;
        color: $color1;
        

            &:hover{
                color: $color3;
                transition: ease-out 0.7s;
            }
    }
}

footer{
    background-color: $bgc1;
    color: $color5;
}

/* header/footer fin */

/* contacto inicio */

.contacto{
    background-color:$bgc1 ;
    color: $color6;
    font-family: $ff1;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
    }

    h2{
      font-size: 3em;  
    }

    .contact-wrapper{
        box-shadow: 0 0 20px rgb(255, 255, 255, .3);
        padding: 1em;
    }

    form{
        background-color: $bgc2;
    }

    .contact-contenido{
        margin: 0;
        padding: 1em;
    }

    input{
        width: 100%;
        padding: 0.7em;
        border: none;
        background: none;
        outline: 0ch;
        border-bottom: 1px solid red;
        color: $color3;
    }

    textarea{
      @extend input;
    }

    button{
        @extend input;
        color: $color3;
        background-color: $bgc3;
        padding: 1em;

        &:hover{
            background: $bgc4;
            color: $color1;
            transition: 1s ease-out;
            outline: 0ch;
        }

     }
}

/* contacto fin */

/* index.html inicio */

#hero{
  height: 600px;
  background-image: url(img.html/Aaaaaassssssaaaa.JPEG);
  background-position: center;
  background-size: cover;

  h1{
    color:$color3;
    font-size: 80px;
    position: relative;
    top: 400px;
    text-shadow:  1px 1px 4px red;
    font-family:$ff1 ;
  }

  h4{
    color: $color1;
    font-size: 30px;
    text-shadow:  1px 1px 4px orangered;
  }
}

.lista-info{
  background-color: $bgc5;
  color: $color1;
  height: 350px;

    ul{
      list-style: none;

      li{
        font-size: 25px;
        padding: 20px;
      }
    }

}
  

.video-informativo{
  height: 650px;
  background-image: $degradado2;
  padding-top: 55px;

  h2{
    color:$color1;
    font-size: 48px;
  }

  p{
    color:$color1;
  }

  video{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 60px;
    }
  
}
  
.video-yt{
    background-color: $bgc6;
    height: 650px;
    padding-top: 55px;

    h3{
      color:$color1;
      font-size: 43px;
    }

    p{
      color:$color1;
    }

    iframe{
      position: relative;
      top: 60px;
    }
  
  }

@media only screen and (min-width:768px) {
  
#hero{

    h1{
      font-size: 100px;
      position: relative;
      top: 450px;
    }

    h4{
      padding-left: 40px;
    }

  }

.video-informativo{
    height: 550px;

    h2{
      position: relative;
      top: 150px;
      font-size: 60px;
    }

    p{
      position: relative;
      top: 150px;
      font-size: 18px;
    }

    video{
      align-items: center;
    }

  }

  .lista-info{
    height: 600px;
    background-image: url(img.html/descarga.jpg);
    background-repeat: no-repeat;
    background-size: 600px 500px;
    background-position: 0px 50px;
  
    ul{
    margin-right: 100px;
    position: relative;
    top: 140px;
  }

}

.video-yt{
  height: 500px;

  h3{
    position: relative;
    top: 100px;
  }

  p{
    position: relative;
    top: 100px;
  }

}

} 

/* index.html fin */

/* sobremi.html inicio */

.sobremi-container{
    background-image: $degradado1;
    color: $color1;
    height: 100%;

    .sobremi{
        margin-bottom: 10px;
        font-size: 19px;
    }

    .mimision{
        position: relative;
        top: 30px;
        font-size: 19px;

        img{
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 10px;
            background-size: cover;
        }
    }

}

/* sobremi.html fin */

/* clientes.html inicio */

.titulo-clientes{
  background-color: $bgc6;
  color: $color1;
  font-family: $ff1;
  margin: 0;
}

.img{
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

  }

  .clientes-slogan{
    font-size: 22px;
    background-color: $bgc6;
    color: $color3;
    font-family: sans-serif;
  }

  

 .clientes-container{
    padding-top: 3em;
    padding-bottom: 1em;
    height: 3000px;
    background-color:$bgc1 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   

  

  .img1{
    grid-column: 1/3;
    background-image: url(img.html/cambio\ 1.jpg);
    background-size: cover;
    height: 300px;

    &::before{
      content:"JUAN 23 anos, estudiante de derecho";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img2{
    grid-column: 1/3;
    background-image: url(img.html/cambio\ 2.jpg);
    background-size: cover;
    height: 300px;

    &::before{
      content:"MARIA 27 anos, atleta wellnes y trabaja en un mayorista";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }

  }

  .img3{
    grid-column: 1/3;
    background-image: url(img.html/cambio\ 3.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"MARIANO 33 anos, trabaja en el rubro inmobiliario";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img4{
    grid-column: 1/3;
    background-image: url(img.html/cambio4.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"JUAN CARLOS 41 anos, trabaja en la construccion";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img5{
    background-image: url(img.html/antes1.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"MATIAS 16 anos";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img6{
    background-image: url(img.html/despues1.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"estudiante";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img7{
    background-image: url(img.html/antes2.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"MARCOS 20 anos ";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img8{
    background-image: url(img.html/despues2.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"estudiante de educacion fisica y trabaja en una pizzeria";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img9{
    background-image: url(img.html/antes\ 3.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"franco 21 anos ";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img10{
    background-image: url(img.html/despues3.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"jugador de futsal";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

  .img11{
    grid-column: 1/3;
    background-image: url(img.html/cambio5.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &::before{
      content:"GUILLERMO 55 anos, ingeniero y tiene 3 hijos ";
      font-size: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $bgc7;
      transform: translate(100%);
      transition: transform .4s;
      color:$color1;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    &:hover::before{
      transform: translate(0);
    }
  }

 }

@media only screen and (min-width:1090px)
{
  .clientes-container{
    height: 1500px;
    background-color: $bgc1 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  

  .img1{
    grid-column: 1/3;
    
  }

  .img2{
    grid-column: 4/6;
  }

  .img3{
    grid-column: 1/3;
  }

  .img4{
    grid-column: 4/6;
  }

  .img5{
    grid-column: 1/2;
  }

  .img6{
    grid-column: 2/3;
  }

  .img7{
    grid-column: 4/5;
  }

  .img8{
    grid-column: 5/6;
  }

  .img11{
    grid-column: 4/6;
  }

  }
}

/* planes.html inicio */

.planes{
    background-color:$bgc1;
    color: $color1;

    aside{
        box-shadow: 0 0 40px rgb(255, 255, 255, .3);
        padding: 1em;
        border-bottom: 1px solid red;
    }

    button{
        background-color:$bgc4;
        display: flex;
        justify-content: center;
    }
}

/* planes.html fin */

/* servicios.html inicio */

.servicios{
    background-color: $bgc6;

    figure{

            width: 100%;
            height: 370px;
            position: relative;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: 0px 15px 25px rgba (0,0,0,0.50);
            cursor: pointer;

            img{
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;
            }

            .contenido{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: $bgc7;
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                text-shadow: 1px 1px 4px white;
            }

                &:hover > .contenido{
                    opacity: 1;
                    visibility: visible;
                }
        
    }

    
}

.extras{
    background-image: $degradado1;
    color: $color1;
    height: 370px;

    p{
        margin: 20px;
        font-family: $ff1;
    }

    img{
      height: 50px;
      position: relative;
      left: 210px;
      margin: 29px;
    }

    .img-telegram{
      position: relative;
      left: 270px;
    }
}

@media only screen and(max-width:768px) 
{
  .extras{
    height: 490px;

    img{
      position: relative;
      left: 120px;
    }

    .img-telegram{
      position: relative;
      left: 180px;
    }
  }
  
}

/* servcios.html fin */